# Python package
# Create and test a Python package on multiple Python versions.

name: Run tests

on: [push]

jobs:
  test-linux:

    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [3.8]

    steps:
    - name: checkout source
      uses: actions/checkout@v3
    - name: Cache node modules
      uses: actions/cache@v3
      env:
        cache-name: cache-node-modules
      with:
        path: models/ggCallerdb.tar.bz2
        key: ${{ runner.os }}-${{ env.cache-name }}-
        restore-keys: |
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Conda environment from environment.yml
      uses: mamba-org/provision-with-micromamba@main
      with:
        cache-env: true
    - name: Install and run_test.py
      shell: bash -l {0}
      run: |
        python -m pip install --no-deps --ignore-installed .
        cd test && python run_test.py

  test-macos:

    runs-on: macos-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
    - name: checkout source
      uses: actions/checkout@v3
    - name: Cache node modules
      uses: actions/cache@v3
      env:
        cache-name: cache-node-modules
      with:
        path: models/ggCallerdb.tar.bz2
        key: ${{ runner.os }}-${{ env.cache-name }}-
        restore-keys: |
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Conda environment from environment.yml
      uses: mamba-org/provision-with-micromamba@main
      with:
        cache-env: true
    - name: Install and run_test.py
      shell: bash -l {0}
      run: |
        python -m pip install --no-deps --ignore-installed .
        cd test && python run_test.py
